<!DOCTYPE html>
html(lang="en")
head

	//- BASIC PAGE NEEDS
	meta(charset="UTF-8")
	title standard web project
	meta(name="description" content="project description")
	meta(name="author" content="author name")

	//- MOBILE SPECIFIC METAS
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	
	//- CSS
	// smoosh 
	link(rel="stylesheet" href="./css/main.css")
	// endsmoosh 

	//- FAVICON
	link(rel="icon" type="image/png" href="favicon.png")

body
	.Layout
		h1 HOLA!
		img(src="img/hi.png")
	
	// smoosh 
	script(src="./js/bundle.js")
	// endsmoosh
	